
.comming-soon {
  margin: 5rem auto;

  &__text{
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    font-size: 2rem;
  }

  &__cards {
    position: relative;
    margin: 0 auto;
    height: 150px;
    width: 100px;

}

&__card {
     
  position: absolute; 
  width: 100%; 
  height: 100%; 
  border: 1px solid black; 
  background-color: #fff; 
  border-radius: 7px; 
  padding-left: 5px;
  box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.3); 
  animation-iteration-count: infinite; 
  animation-duration: 2s; 

}

}


.one {
  animation-name: anim-one;

  @keyframes anim-one {
      from {
          transform: translate(0) rotate(0deg);
      }

      50% {
          transform: translate(-30px, 5px) rotate(-45deg);
      }

      to {
          transform: translate(0) rotate(0deg);
      }
  }
}

.two {
  animation-name: anim-two;

  @keyframes anim-two {
      from {
          transform: translate(0) rotate(0deg);
      }

      50% {
          transform: translate(-15px) rotate(-25deg);
      }

      to {
          transform: translate(0) rotate(0deg);
      }
  }

}

.three {
  animation-name: anim-three;

  @keyframes anim-three {
      from {
          transform: translate(0) rotate(0deg);
      }

      50% {
          transform: rotate(-5deg);
      }

      to {
          transform: translate(0) rotate(0deg);
      }
  }
}

.four {
  animation-name: anim-five;

  @keyframes anim-five {
      from {
          transform: translate(0) rotate(0deg);
      }

      50% {
          transform: translate(15px, 5px) rotate(15deg);
      }

      to {
          transform: translate(0) rotate(0deg);
      }
  }
}

.five {
  animation-name: anim-eight;

  @keyframes anim-eight {
      from {
          transform: translate(0) rotate(0deg);
      }

      50% {
          transform: translate(28px, 14px) rotate(35deg);
      }

      to {
          transform: translate(0) rotate(0deg);
      }
  }
}