@font-face {
    font-family: "Mystery Quest";
    src: url("../../assets/fonts/MysteryQuest-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "YuseiMagic";
    src: url("../../assets/fonts/YuseiMagic-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}