$background-purple: #02051A;
$text-glod: #EEBB85;
$glod: #EAC487;
$light-glod: #EADDC5;

$font-mystery: "Mystery Quest";
$font-magic:  "YuseiMagic";


$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;