@use "../../styles/partials/variables"as *;
@use "../../styles/partials/mixins"as *;
@use "../../styles/partials/fonts"as *;


.header {
    height: 10vh;
    padding: 0.5rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title {
        @include page-header;
        color: white;
    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: row;
    }

    &__item {
        list-style: none;
        padding: 0 0.5rem;
        position: relative;
    }

    &__icon {
        height: 2rem;
        color: $light-glod;
        cursor: pointer;
    }

    &__tooltip {
        position: absolute;
        background-color: #fff;
        color: #000;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        box-shadow: 0px 2px 4px rgb(0, 0, 0);
        white-space: nowrap;
        font-size: 0.875rem;
        z-index: 10;
        transform: translateY(-100%);
    }
}