@use "../../styles//partials/variables"as *;
@use "../../styles//partials/mixins"as *;
@use "../../styles//partials/fonts"as *;

.home {

    &__hero {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        padding-bottom: 8rem;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 1.5rem;
        margin-left: 5rem;
    }

    &__button {
        border: 1px solid white;
        border-radius: 20%;
        padding: 0.5rem 1rem;
        background-color: #0D0D0D;
        color: white;
        font-family: $font-mystery;
        height: 3rem;
        font-size: 1rem;
        cursor: pointer;

        &:hover {
            border-color: black;
            background-color: white;
            color: black;
        }
    }

    &__instruction {
        width: 15rem;
    }

    &__categories {

        padding: 2rem 10rem;

        &-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;

        }

    }

    &__category {
        border-radius: 0.5rem;
        box-shadow: -4px 4px 16px rgb(255, 255, 255);
        transition: box-shadow 0.5s ease-in-out;
        animation: shadowPulse 3s infinite;
        overflow: hidden;
        position: relative;

        &:hover {
            box-shadow: 0 8px 16px rgb(248, 247, 247);

            & .home__category-modal {
                opacity: 1;
                visibility: visible;
            }
        }

        &-modal {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.7);
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
            display: flex;
            flex-direction: column;
            text-align: center;
         
        }

        &-description{
            font-family: $font-magic;
            font-size: 1rem;
        }

        &-image {
            width: 280px;
            height: 450px;
            border-radius: 0.5rem;

        }

        &-name {
            font-size: 1.3rem;
            color: black;
            background-color: $light-glod;
            border-radius: 1rem;
            width: 15rem;
            margin: 0 auto;
        }
    }

}

@keyframes shadowPulse {

    0%,
    100% {
        box-shadow: -4px 8px 16px rgba(255, 255, 255, 0.2);
    }

    50% {
        box-shadow: -4px 8px 16px rgba(255, 255, 255, 0.4);
    }
}